name: CI Workflow

# on: [push, pull_request]
on: [repository_dispatch, workflow_dispatch]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools six charset_normalizer pyasn1>=0.2.3 pyasn1_modules pycryptodomex pyOpenSSL ldap3>=2.5,!=2.5.2,!=2.5.0,!=2.6 ldapdomaindump>=0.9.0 flask>=1.0 pyreadline3;sys_platform == 'win32' pytest pytest-cov
          
      - name: Run lint
        run: |
          python -m pip install flake8
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --ignore=E1,E2,E3,E501,W291,W293 --exit-zero --max-complexity=65 --max-line-length=127 --statistics

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          python -m pip install setuptools six charset_normalizer pyasn1>=0.2.3 pyasn1_modules pycryptodomex pyOpenSSL ldap3>=2.5,!=2.5.2,!=2.5.0,!=2.6 ldapdomaindump>=0.9.0 flask>=1.0 pyreadline3;sys_platform == 'win32' pytest pytest-cov
          python -m pip install tox tox-gh-actions -r requirements.txt -r requirements-test.txt

      - name: Run tests
        run: |
          tox -- -m 'not remote'
          python setup.py bdist_wheel